Data/ortho_1-1_hn_s_ny005_2022_1.zip
Data/ortho_1-1_hn_s_ny047_2022_1.zip
Data/ortho_1-1_hn_s_ny061_2022_1.zip
Data/ortho_1-1_hn_s_ny081_2022_1.zip
Data/ortho_1-1_hn_s_ny085_2022_1.zip
Data/BK_PLUTO.geojson.zip
Data/nyc_mappluto_24v1_shp.zip
Data/nyc_mappluto_24v1_shp/MapPLUTO.cpg
Data/nyc_mappluto_24v1_shp/MapPLUTO.dbf
Data/nyc_mappluto_24v1_shp/MapPLUTO.prj
Data/nyc_mappluto_24v1_shp/MapPLUTO.sbn
Data/nyc_mappluto_24v1_shp/MapPLUTO.sbx
Data/nyc_mappluto_24v1_shp/MapPLUTO.shp
Data/nyc_mappluto_24v1_shp/MapPLUTO.shp.xml
Data/nyc_mappluto_24v1_shp/MapPLUTO.shx
Data/nyc_mappluto_24v1_shp/pluto_datadictionary.pdf
Data/nyc_mappluto_24v1_shp/pluto_readme.pdf
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.dbf
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.shp
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.shx
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.xml
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.aux
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sdw
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sid
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sid.aux.xml
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.txt
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.xml
Data/BK_PLUTO.geojson/__MACOSX/._BK_PLUTO.geojson
Data/BK_PLUTO.geojson/BK_PLUTO.geojson
Data/NAIP_BK_GEOTIFF.tif
Data/TrainingData300PercFPZoom70x70Resbuilding_0.png
Data/TrainingData300PercFPZoom70x70Res/building_0.png
Data/TrainingData300PercFPZoom70x70Res/building_1.png
Data/TrainingData300PercFPZoom70x70Res/building_2.png
Data/TrainingData300PercFPZoom70x70Res/building_3.png
Data/TrainingData300PercFPZoom70x70Res/building_4.png
Data/TrainingData300PercFPZoom70x70Res/building_5.png
Data/TrainingData300PercFPZoom70x70Res/building_6.png
Data/TrainingData300PercFPZoom70x70Res/building_7.png
Data/TrainingData300PercFPZoom70x70Res/building_8.png
Data/TrainingData300PercFPZoom70x70Res/building_9.png
Data/TrainingData300PercFPZoom70x70Res/building_10.png
Data/TrainingData300PercFPZoom70x70Res/building_11.png
Data/TrainingData300PercFPZoom70x70Res/building_12.png
Data/TrainingData300PercFPZoom70x70Res/building_13.png
Data/TrainingData300PercFPZoom70x70Res/building_14.png
Data/TrainingData300PercFPZoom70x70Res/building_15.png
Data/TrainingData300PercFPZoom70x70Res/building_16.png
Data/TrainingData300PercFPZoom70x70Res/building_17.png
Data/TrainingData300PercFPZoom70x70Res/building_18.png
Data/TrainingData300PercFPZoom70x70Res/building_19.png
Data/TrainingData300PercFPZoom70x70Res/building_20.png
Data/TrainingData300PercFPZoom70x70Res/building_21.png
Data/TrainingData300PercFPZoom70x70Res/building_22.png
Data/TrainingData300PercFPZoom70x70Res/building_23.png
Data/TrainingData300PercFPZoom70x70Res/building_24.png
Data/TrainingData300PercFPZoom70x70Res/building_25.png
Data/TrainingData300PercFPZoom70x70Res/building_26.png
Data/TrainingData300PercFPZoom70x70Res/building_27.png
Data/TrainingData300PercFPZoom70x70Res/building_28.png
Data/TrainingData300PercFPZoom70x70Res/building_29.png
Data/TrainingData300PercFPZoom70x70Res/building_30.png
Data/TrainingData300PercFPZoom70x70Res/building_31.png
Data/TrainingData300PercFPZoom70x70Res/building_32.png
Data/TrainingData300PercFPZoom70x70Res/building_33.png
Data/TrainingData300PercFPZoom70x70Res/building_34.png
Data/TrainingData300PercFPZoom70x70Res/building_35.png
Data/TrainingData300PercFPZoom70x70Res/building_36.png
Data/TrainingData300PercFPZoom70x70Res/building_37.png
Data/TrainingData300PercFPZoom70x70Res/building_38.png
Data/TrainingData300PercFPZoom70x70Res/building_49.png
Data/TrainingData300PercFPZoom70x70Res/building_50.png
Data/TrainingData300PercFPZoom70x70Res/building_53.png
Data/TrainingData300PercFPZoom70x70Res/building_54.png
Data/TrainingData300PercFPZoom70x70Res/building_57.png
Data/TrainingData300PercFPZoom70x70Res/building_58.png
Data/TrainingData300PercFPZoom70x70Res/building_62.png
Data/TrainingData300PercFPZoom70x70Res/building_65.png
Data/TrainingData300PercFPZoom70x70Res/building_70.png
Data/TrainingData300PercFPZoom70x70Res/building_74.png
Data/TrainingData300PercFPZoom70x70Res/building_75.png
Data/TrainingData300PercFPZoom70x70Res/building_85.png
Data/TrainingData300PercFPZoom70x70Res/building_87.png
Data/TrainingData300PercFPZoom70x70Res/building_90.png
Data/TrainingData300PercFPZoom70x70Res/building_91.png
Data/TrainingData300PercFPZoom70x70Res/building_92.png
Data/TrainingData300PercFPZoom70x70Res/building_94.png
Data/TrainingData300PercFPZoom70x70Res/building_95.png
Data/TrainingData300PercFPZoom70x70Res/building_98.png
Data/TrainingData300PercFPZoom70x70Res/building_100.png
Data/TrainingData300PercFPZoom70x70Res/building_103.png
Data/TrainingData300PercFPZoom70x70Res/building_104.png
Data/TrainingData300PercFPZoom70x70Res/building_105.png
Data/TrainingData300PercFPZoom70x70Res/building_106.png
Data/TrainingData300PercFPZoom70x70Res/building_107.png
Data/TrainingData300PercFPZoom70x70Res/building_109.png
Data/TrainingData300PercFPZoom70x70Res/building_110.png
Data/TrainingData300PercFPZoom70x70Res/building_111.png
Data/TrainingData300PercFPZoom70x70Res/building_113.png
Data/TrainingData300PercFPZoom70x70Res/building_114.png
Data/TrainingData300PercFPZoom70x70Res/building_116.png
Data/TrainingData300PercFPZoom70x70Res/building_117.png
Data/TrainingData300PercFPZoom70x70Res/building_119.png
Data/TrainingData300PercFPZoom70x70Res/building_120.png
Data/TrainingData300PercFPZoom70x70Res/building_122.png
Data/TrainingData300PercFPZoom70x70Res/building_124.png
Data/TrainingData300PercFPZoom70x70Res/building_125.png
Data/TrainingData300PercFPZoom70x70Res/building_127.png
Data/TrainingData300PercFPZoom70x70Res/building_128.png
Data/TrainingData300PercFPZoom70x70Res/building_129.png
Data/TrainingData300PercFPZoom70x70Res/building_130.png
Data/TrainingData300PercFPZoom70x70Res/building_132.png
Data/TrainingData300PercFPZoom70x70Res/building_133.png
Data/TrainingData300PercFPZoom70x70Res/building_137.png
Data/TrainingData300PercFPZoom70x70Res/building_141.png
Data/TrainingData300PercFPZoom70x70Res/building_142.png
Data/TrainingData300PercFPZoom70x70Res/building_144.png
Data/TrainingData300PercFPZoom70x70Res/building_145.png
Data/TrainingData300PercFPZoom70x70Res/building_148.png
Data/TrainingData300PercFPZoom70x70Res/building_149.png
Data/TrainingData300PercFPZoom70x70Res/building_150.png
Data/TrainingData300PercFPZoom70x70Res/building_151.png
Data/TrainingData300PercFPZoom70x70Res/building_154.png
Data/TrainingData300PercFPZoom70x70Res/building_156.png
Data/TrainingData300PercFPZoom70x70Res/building_157.png
Data/TrainingData300PercFPZoom70x70Res/building_159.png
Data/TrainingData300PercFPZoom70x70Res/building_162.png
Data/TrainingData300PercFPZoom70x70Res/building_164.png
Data/TrainingData300PercFPZoom70x70Res/building_166.png
Data/TrainingData300PercFPZoom70x70Res/building_168.png
Data/TrainingData300PercFPZoom70x70Res/building_170.png
Data/TrainingData300PercFPZoom70x70Res/building_171.png
Data/TrainingData300PercFPZoom70x70Res/building_173.png
Data/TrainingData300PercFPZoom70x70Res/building_176.png
Data/TrainingData300PercFPZoom70x70Res/building_177.png
Data/TrainingData300PercFPZoom70x70Res/building_178.png
Data/TrainingData300PercFPZoom70x70Res/building_179.png
Data/TrainingData300PercFPZoom70x70Res/building_180.png
Data/TrainingData300PercFPZoom70x70Res/building_181.png
Data/TrainingData300PercFPZoom70x70Res/building_182.png
Data/TrainingData300PercFPZoom70x70Res/building_183.png
Data/TrainingData300PercFPZoom70x70Res/building_184.png
Data/TrainingData300PercFPZoom70x70Res/building_187.png
Data/TrainingData300PercFPZoom70x70Res/building_189.png
Data/TrainingData300PercFPZoom70x70Res/building_191.png
Data/TrainingData300PercFPZoom70x70Res/building_192.png
Data/TrainingData300PercFPZoom70x70Res/building_193.png
Data/TrainingData300PercFPZoom70x70Res/building_194.png
Data/TrainingData300PercFPZoom70x70Res/building_196.png
Data/TrainingData300PercFPZoom70x70Res/building_198.png
Data/TrainingData300PercFPZoom70x70Res/building_200.png
Data/TrainingData300PercFPZoom70x70Res/building_201.png
Data/TrainingData300PercFPZoom70x70Res/building_203.png
Data/TrainingData300PercFPZoom70x70Res/building_205.png
Data/TrainingData300PercFPZoom70x70Res/building_207.png
Data/TrainingData300PercFPZoom70x70Res/building_208.png
Data/TrainingData300PercFPZoom70x70Res/building_210.png
Data/TrainingData300PercFPZoom70x70Res/building_211.png
Data/TrainingData300PercFPZoom70x70Res/building_212.png
Data/TrainingData300PercFPZoom70x70Res/building_213.png
Data/TrainingData300PercFPZoom70x70Res/building_214.png
Data/TrainingData300PercFPZoom70x70Res/building_215.png
Data/TrainingData300PercFPZoom70x70Res/building_216.png
Data/TrainingData300PercFPZoom70x70Res/building_217.png
Data/TrainingData300PercFPZoom70x70Res/building_218.png
Data/TrainingData300PercFPZoom70x70Res/building_219.png
Data/TrainingData300PercFPZoom70x70Res/building_222.png
Data/TrainingData300PercFPZoom70x70Res/building_223.png
Data/TrainingData300PercFPZoom70x70Res/building_224.png
Data/TrainingData300PercFPZoom70x70Res/building_225.png
Data/TrainingData300PercFPZoom70x70Res/building_317.png
createTrainingData.ipynb
createTrainingData.ipynb
Data/Unprocessed/GeoTiffFiles/ny_085_2022.tif
Data/Unprocessed/GeoTiffFiles/ny005_2022.tif
Data/Unprocessed/GeoTiffFiles/ny047_2022.tif
Data/Unprocessed/GeoTiffFiles/ny061_2022.tif
Data/Unprocessed/GeoTiffFiles/ny081_2022.tif
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny005_2022_1.sid
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny005_2022_1.sid.aux.xml
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny047_2022_1.sid
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny047_2022_1.sid.aux.xml
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny061_2022_1.sid
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny061_2022_1.sid.aux.xml
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny081_2022_1.sid
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny081_2022_1.sid.aux.xml
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny085_2022_1.sid
Data/Unprocessed/SidFiles/ortho_1-1_hn_s_ny085_2022_1.sid.aux.xml
