Data/ortho_1-1_hn_s_ny005_2022_1.zip
Data/ortho_1-1_hn_s_ny047_2022_1.zip
Data/ortho_1-1_hn_s_ny061_2022_1.zip
Data/ortho_1-1_hn_s_ny081_2022_1.zip
Data/ortho_1-1_hn_s_ny085_2022_1.zip
Data/BK_PLUTO.geojson.zip
Data/nyc_mappluto_24v1_shp.zip
Data/nyc_mappluto_24v1_shp/MapPLUTO.cpg
Data/nyc_mappluto_24v1_shp/MapPLUTO.dbf
Data/nyc_mappluto_24v1_shp/MapPLUTO.prj
Data/nyc_mappluto_24v1_shp/MapPLUTO.sbn
Data/nyc_mappluto_24v1_shp/MapPLUTO.sbx
Data/nyc_mappluto_24v1_shp/MapPLUTO.shp
Data/nyc_mappluto_24v1_shp/MapPLUTO.shp.xml
Data/nyc_mappluto_24v1_shp/MapPLUTO.shx
Data/nyc_mappluto_24v1_shp/pluto_datadictionary.pdf
Data/nyc_mappluto_24v1_shp/pluto_readme.pdf
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.dbf
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.shp
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.shx
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_ny047_2022_1.xml
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.aux
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sdw
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sid
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.sid.aux.xml
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.txt
Data/ortho_1-1_hn_s_ny047_2022_1/ortho_1-1_hn_s_ny047_2022_1.xml
Data/BK_PLUTO.geojson/__MACOSX/._BK_PLUTO.geojson
Data/BK_PLUTO.geojson/BK_PLUTO.geojson
Data/NAIP_BK_GEOTIFF.tif
